@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap: 400,500,600,700');




/* Background Image */

body {
    background: url('../images/background.jpeg') no-repeat 0% 20% fixed;
    height: 100%;
    width: auto;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    color: black;
}



/* Selector */

.section-heading,
#genre-selector,
#year-selector,
#logo {
    display: inline-block;
    float: none;
    margin: 0;
}


#genre-selector {
    margin-left: 50px;
}

#year-selector {
    margin-left: 50px;
}

/* Header */

#logo {
    height: 50px;
    width: 90px;
}


.navbar {
    width: 100%;

}

.navbar-brand {
    font-size: 2rem;
    color: black;
}

.navbar-default {
    margin-bottom: 0px;
    border-bottom: 5px outset #e1dddded;
}


/* Stacked Bar Chart */

.stacked {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Legend */

.dc-legend {
    font-size: 11px;

}

/* Section */

.section {
    border-bottom: 5px outset #e6e6e6;
    padding: 30px 0;
}

.section1 {
    border-bottom: 5px outset #e6e6e6;
    padding: 5px 0;
}

.section4 {
    border-bottom: 0;
    padding: 5px 0;
}

.section-heading {
    font-weight: 700;
}

h2.section-heading {
    margin-right: 10px;
    padding-left: 200px;
}

p.font-weight-bold.text-center {
    margin-bottom: 0px;
}

/* Media Queries 

@media (min-width: 662px) {
    body {
        background-image: url('../images/background.jpeg');
        overflow-x: hidden;
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 500px) {

    .navbar-brand {
        font-size: 2rem;
        color: black;
    } 
    center center cover no-repeat fixed*/
