@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap: 400,500,600,700');


body {
    font-family: 'Rubik', sans-serif;
    color: black;
}

/* Background Image */

body {
    background-image: url('../images/background.jpeg') center center cover no-repeat fixed;
    height: 100%;
    width: auto;
}

/* Header */

#logo {
    height: 50px;
    width: 90px;
}


.navbar {
    overflow: hidden;
    padding-bottom: 20px;
    width: 100%;

}

.navbar-brand {
    font-size: 2rem;
    color: black;
}


/* Stacked Bar Chart */

.stacked {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Legend */

.dc-legend {
    font-size: 11px;

}

/* Media Queries */

@media (min-width: 662px) {
    body {
        background-image: url('../images/background.jpeg');
        overflow-x: hidden;
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 500px) {

    .navbar-brand {
        font-size: 2rem;
        color: black;
    }

    /*---Container----*/
    .content-container {
        padding-top: 20px;
    }
